
#frmLogin {
	padding: 5px;
}

#frmLogin input {
	margin-bottom: 5px;
}

#btnLogin {
	margin-top: 5px;
	width: 150px;
}

#logMenu {
	width: 200px;
}

#logMenu ul {
	list-style-type: none;
}

#logMenu ul li a {
	float: left;
	width: 100px;
	text-decoration: none;
}

#logMenu ul li a:hover {
	background: #fff;
	background-color: #53AB18;
	color: #067B6A;
}