
.tableResponsible {
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
}

.imgResponsible { 
    height:120px;
    width:120px;
    border-radius: 120px;
}

.nameResponsible {
    margin: 0px;
    color: #418870;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-shadow: 0 -1px 1px #fff;
}

.jobResponsible {
    font-style: italic;
    margin: 4px;
}

.emailResponsible a {
	text-decoration: none;
}

.emailResponsible a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #008080;
}