    /*background: url("../images/net.png") top left repeat;*/

body {
    height: 100vh;
    background: url(/images/green_cup.png) top left repeat;
}

.body {
    position: relative;
    width: 80%;
    height: 150%;
    left: 10%;
    background: url(/images/body.png) top left repeat;
}

#logo {
    margin-left: 30px;
    height: 200px;
    width: 400px;
}

<<<<<<< HEAD
=======
body {
    position: relative;
    width: 80%;
    left: 10%;
    padding-bottom: 30px;
    border-radius: 10px;
  	
    /*background-color: #D6D6D6;*/
    
    
    /*
	background: -webkit-linear-gradient(#FFFFFF, #DDDDDD); /* For Safari 5.1 to 6.0 
	background: -o-linear-gradient(#FFFFFF, #DDDDDD); /* For Opera 11.1 to 12.0 
	background: -moz-linear-gradient(#FFFFFF, #DDDDDD); /* For Firefox 3.6 to 15 
	background: linear-gradient(#FFFFFF, #DDDDDD); /* Standard syntax 
    */
}

>>>>>>> 1ab6bd2c8f237b468d221d80ad3ae93f07ae2b9e

nav {
    font-family: arial, sans-serif;
    width: 100%;
    height:52px;
    font-size:15px;
    position: relative;
    float: left;
    top: -15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav div {
    border-radius: 3px;
    background: #579c73;
    background: -moz-linear-gradient(top, #67aa82 0%, #488260 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #67aa82), color-stop(100%, #488260));
    background: -webkit-linear-gradient(top, #67aa82 0%, #488260 100%);
    background: -o-linear-gradient(top, #67aa82 0%, #488260 100%);
    background: -ms-linear-gradient(top, #67aa82 0%, #488260 100%);
    background: linear-gradient(to bottom, #67aa82 0%, #488260 100%);
    box-shadow:0px 3px 15px #8A3C15;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), 0px 0px 25px rgba(0,0,0,0.3);
}

nav ul {
    width: 20%;
}
nav ul li {
    padding: 5px;
    float: left;
    position: relative;
	width: 40px;   
}

nav ul li a {
   color: #E6EEE7;
   font-weight: bold;
}

nav li a:hover {
  transition: all 1s linear;
  -webkit-transition-duration: 700ms;
  -moz-transition-duration: 700ms;
   cursor: pointer;
}

nav #opLogin a {
    color: #fff;
    background-color:rgba(255,0,0,0);
};

nav #opLogin a:hover {
    color: #fff;
    background-color:rgba(255,0,0,0);
};

#opHome {
    border-left: none;
}

#opContact {
    border-right: none;
}

#containerBody {
    padding: 20px;
}

footer {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-left: 1%;
    padding-bottom: 10px;
    background: url(/images/footer.png) top left repeat;
    box-shadow: 0px 0px 0px #000, 0px 0px 10px #000;
}

.lblContact {
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 -1px 0.1px #000;
}

.lblContactInfo {
    color: #E8E8E3;
    font-size: 17px;
    margin-left: 40px;
    margin-right: 8px;
}

.contactEmail {
    color: #82A8A6;
}

.contactEmail:hover {
    color: #B0C8C7;
    text-decoration: none;
}