html {
    background: url("../images/net.png") top left repeat;
	/*background: -webkit-linear-gradient(#418870 0%, #559b83 100%); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(#418870 0%, #559b83 100%); /* For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(#418870 0%, #559b83 100%); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(#418870 0%, #559b83 100%); /* Standard syntax */
}

body {
	height: 700px;
  	margin: 30px 10%;
    border-radius: 10px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: -webkit-linear-gradient(#FFFFFF, #DDDDDD); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF, #DDDDDD); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #DDDDDD); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #DDDDDD); /* Standard syntax */
}

#imgMain {
	/*background: #000 url('../images/head.jpg') no-repeat;*/
	width: 95%;
	height: 100px;
	border-style: none;
}

/* codigo nuevo por jorge*/
nav {
    font-family: arial, sans-serif;

    position: relative;
    width: 98%;
    height:37px;
    font-size:15px;
    border-radius:4px;
    margin: 0px auto;
    background : -webkit-gradient(linear, left top, left bottom, from(#418870), to(#559b83));
    background : -moz-linear-gradient(top, #418870, #559b83);
}
 
nav ul {
    list-style-type: none;
}
 
nav ul li {
    float: left;
    position: relative;
	width: 120px;   
}
 
nav ul li a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #E8E8E8;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(255,255,255,0.1);
    background: -webkit-linear-gradient(#418870, #559b83); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#418870, #559b83); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#418870, #559b83); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#418870, #559b83); /* Standard syntax */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul li a:hover {
	background: #164a69;
	/*background: -webkit-linear-gradient(#EBF291, #FEFEC9); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(#EBF291, #FEFEC9); /* For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(#EBF291, #FEFEC9); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(#EBF291, #FEFEC9); /* Standard syntax */
    color: #fff;
    border-radius: 4px;
	transition: all 1s linear;
    -webkit-transition-duration: 700ms;
    -moz-transition-duration: 700ms;
    cursor: pointer;
}




























/*nav {
	width: 100%;
    height: 80px;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

ul.menu {
    height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
}

ul.menu li {
    list-style: none;
    float:left;
    height: 79px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    }

ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    }

ul li a:hover {
    background: transparent none;
}

ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}