#navAnalysis {
	height: 50px;
	margin-top: 38px;
}

.form-group {
	margin-top: -20px;
	width: 100%;
}

.form-group label {
	margin-left: 100px;
}

.form-group select {
	margin-left: 10px;
	width: 200px;
}

#dropzone {
	position: relative;
	top: 30px;
	background: #408080;
	margin-left: 25%;
	width: 50%;
	height: 100px;
}

#filelist li {
	width: 100px;
	height: 40px;
	background-color: #ADD6D6;
}