extends index
block containerBody

	form(class="form-horizontal" role="form")


		div(class="form-group")
			
			div(class="col-md-4")
				h3 Agregar Cliente
				input(type="txt" class="form-control" id="inputNombre" placeholder="Nombre" required)
				input(type="txt" class="form-control" id="inputPrimerApe" placeholder="Primer Apellido" required)
				input(type="txt" class="form-control" id="inputSegundoApe" placeholder="Segundo Apellido" required)
				input(type="email" class="form-control" id="inputEmail6" placeholder="Email" required)
				input(type="txt" class="form-control" id="inputUsuario" placeholder="Usuario" required)
				input(type="password" class="form-control" id="inputPassword3" placeholder="Password" required)
				select(class="form-control")
					option(value="3") Cliente
					option(value="4") Usuario

				select(class="form-control" name="selctprovincia")
					each resp in data
						option #{resp.nombre}
				select(class="form-control" name="selctCanton")
					each resp in data
						option #{resp.nombre}	


		div(class="form-group")
			div(class="col-sm-offset-2 col-sm-10")
				button(type="submit" class="btn btn-default") Sign in