<html>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3"><div class="btn btn-primary" onclick="load_xmlfile()">leer xml</div></div>
			<div class="col-xs-6 col-sm-3"><div class="btn btn-primary">Agregar link</div></div>
			<div class="col-xs-6 col-sm-3"><div class="btn btn-primary">Agregar Imagen</div></div>
			<div class="col-xs-6 col-sm-3"><div class="btn btn-primary">Agregar Video</div></div>
		</div>
		<div class="row ">
			<div class="conatiner-fluid">
				
			</div>
		</div>
		<div class="row">
			<div class="Guardar"></div>
		</div>
	</div>
</html><html>
	<div>
	<h1>Administracion de las Noticias</h1>
</div>	
</html>