extends index
block containerBody

	div(class="container-fluid")
		div(class="row breadcrumb") FECHA:	2/19/2014
		div(class="row breadcrumb") 
			div(class="col-md-4") PROVINCIA:Alajuela
			div(class="col-md-4") CANTÓN :Guatuso
			div(class="col-md-4") DISTRITO: Guatuso
			div(class="col-md-4") OTRAS SEÑAS:
		div(class="row Center Title") 
			div(class="col-md-3") 
			div(class="col-md-4") cmol(+)/L
			div(class="col-md-5") mg/L
		div(class="row Center breadcrumb Title")
				div(class="col-md-1") N° Lab
				div(class="col-md-1") Identificación de campo
				div(class="col-md-1") pH
				div(class="col-md-1") Acidez
				div(class="col-md-1") Ca
				div(class="col-md-1") Mg
				div(class="col-md-1") K
				div(class="col-md-1") P
				div(class="col-md-1") Cu
				div(class="col-md-1") Fe
				div(class="col-md-1") Mn
				div(class="col-md-1") Zn
		
		div(class="row Center breadcrumb") 
				div(class="col-md-1") S14_20
				div(class="col-md-1") Lote Nuevo. AGV
				div(class="col-md-1") 5.08
				div(class="col-md-1") 0.23
				div(class="col-md-1") 3.15
				div(class="col-md-1") 2.25
				div(class="col-md-1") 0.18
				div(class="col-md-1") 3.58
				div(class="col-md-1") 21
				div(class="col-md-1") 185
				div(class="col-md-1") 53
				div(class="col-md-1") 7.8
		div(class="row Center breadcrumb") 
				div(class="col-md-1") S14_20
				div(class="col-md-1") Lote Nuevo. AGV
				div(class="col-md-1") 5.08
				div(class="col-md-1") 0.23
				div(class="col-md-1") 3.15
				div(class="col-md-1") 2.25
				div(class="col-md-1") 0.18
				div(class="col-md-1") 3.58
				div(class="col-md-1") 21
				div(class="col-md-1") 185
				div(class="col-md-1") 53
				div(class="col-md-1") 7.8

			div(class="row Center") 
				div(class="col-md-8")
					div(class="col-md-2") 
					div(class="col-md-2") 
					div(class="col-md-2") %
					div(class="col-md-2") %
			div(class="row breadcrumb Center") 
				div(class="col-md-8") 
					div(class="col-md-2") N° Lab
					div(class="col-md-2") Identificación de campo
					div(class="col-md-2") M.O.
					div(class="col-md-2") C.O.
			
			div(class="row breadcrumb Center") 
				div(class="col-md-8") 
					div(class="col-md-2") S14_20
					div(class="col-md-2") Lote Nuevo. AGV
					div(class="col-md-2") 5.83
					div(class="col-md-2") 3.38
			
			div(class="row")
				div(class="col-md-4") Observación:
				div(class="col-md-6") 
					p.
						1,Unidades expresadas en base seca.
						2, Muestras tomadas por el interesado
						3, Los resultados de este ensayo reflejan únicamente la muestra entregada en el laboratorio por el interesado.
		div(class="row")
				div(class="col-md-4") Metodología:
				div(class="col-md-6") 
					p.
						K,P, Menores por Olsen Modificado. Ca, Mg y Acidez extractable por KCl. pH en agua.							