extends layout
	
block content
	script(src="/javascripts/navigation.js")

	img(id="imgMain")
	form(action="/index", method="POST")
		nav(id="navNavigate")
			ul(class="menu")
				li(class="active") 
					a(class="navMenu", href="/news") Inicio
				li
					a(class="navMenu", href="/userAnalysis", value="1") Análisis
				li
					a(class="navMenu", href="/responsible") Responsables
				li
					a(class="navMenu", href="/contact") Contacto
			section(id="secLogin")
				input(id="txtUser" class="txtLogin" type="text" placeholder="Correo:")
				input(id="txtPassword" class="txtLogin" type="text" placeholder="Clave:")
				button(id="btnLogin", class="btnLogin") iniciar
		block contentBody
			article(id="contentBody")
		