extends layout
	
block content
	script(src="/javascripts/navigation.js")

	div(id="contenedor")
		h1(id="titulo") Laboratorio de Análisis
		h1(id="titulo2") Agronómicos
		div(id="logo")
		div(id="circular")
		div(id="circular1")
		div(id="circular2")
		div(id="circular3")
	nav(id="navNavigate")
		ul(class="menu")
			li(class="active")
				a(id="opHome", class="navMenu", href="/news") Inicio
			li
				a(class="navMenu", href="/publicAnalysis", value="1") Análisis
			li
				a(class="navMenu", href="/responsible") Responsables
			li
				a(id="opContact", class="navMenu", href="/contact") Contacto
		section(id="secLogin")
			input(id="txtUser" class="txtLogin" type="text" placeholder="Correo:")
			input(id="txtPassword" class="txtLogin" type="text" placeholder="Clave:")
			button(id="btnLogin", class="btnLogin") iniciar
	
	block bodyContent
		article(id="bodyContent")