extends layout
	
block content
	script(src="/javascripts/navigation.js")

	div(id="contenedor")
		div(id="logo")
		div(id="circular")
		div(id="circular1")
		div(id="circular2")
		div(id="circular3")
	nav(id="navNavigate")
		ul(class="menu")
			li(class="active") 
				a(class="navMenu", href="/news") Inicio
			li
				a(class="navMenu", href="/publicAnalysis", value="1") Análisis
			li
				a(class="navMenu", href="/responsible") Responsables
			li
				a(class="navMenu", href="/contact") Contacto
		section(id="secLogin")
			input(id="txtUser" class="txtLogin" type="text" placeholder="Correo:")
			input(id="txtPassword" class="txtLogin" type="text" placeholder="Clave:")
			button(id="btnLogin", value="1", class="btnLogin", onclick="ajax('contact')") iniciar
	block contentBody
		