
<div class="continer">
	<div class="row">
	<div class="col-xs-6 col-md-4">	
		<div class="container-fluid">

			<div class="row panel panel-default breadcrumb">
					<div class="row">
							<form class="form-inline" role="form">
								 <div class="form-group">
								 	<h5>Los pros y los contras de las Google Glass</h5>
								 </div>
								 <div class="form-group pull-right">
								  <h5>25/05/2014</h5>
								</div>
							</form>
					</div>
					<div class="row">
						<h5>
							Todo el mundo conoce las gafas de Google. Pero tras toda nueva tecnología nos topamos rápidamente con pros y contras. En este caso la creciente necesidad de desarrollo de aplicaciones para Google Glass.
						</h5>
					</div>
			</div>

			<div class="row panel panel-default breadcrumb">
					<div class="row">
							<form class="form-inline" role="form">
								 <div class="form-group">
								 	<h4>title</h4>
								 </div>
								 <div class="form-group pull-right">
								  <h5>25/05/2004</h5>
								</div>
							</form>
					</div>
					<div class="row">
						<h5>Description</h5>
					</div>
			</div>

			<div class="row panel panel-default breadcrumb">
					<div class="row">
							<form class="form-inline" role="form">
								 <div class="form-group">
								 	<h4>title</h4>
								 </div>
								 <div class="form-group pull-right">
								  <h5>25/05/2004</h5>
								</div>
							</form>
					</div>
					<div class="row">
						<h5>Description</h5>
					</div>
			</div>

	</div>		
	</div>

	<div class="col-xs-12 col-sm-6 col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-inline" role="form">
					 <div class="form-group"><h4>Los pros y los contras de las Google Glass</h4></div>
					 <div class="form-group pull-right"><h5>25/05/2014</h5></div>
				</form>
				<div class="panel-footer">
					<p>
						Todo el mundo conoce las gafas de Google. Pero tras toda nueva tecnología nos topamos rápidamente con pros y contras. En este caso la creciente necesidad de desarrollo de aplicaciones para Google Glass.

Con estas nuevas gafas de alta tecnología, Google nos muestra que podemos hacer lo mismo que nuestro móvil inteligente o smartphone pero sin utilizar nuestras manos, únicamente con nuestra voz. 
En un principio nos topamos con que tiene algunas similitudes con el Siri de Apple, funcionalidad del iPhone que permite formular preguntas al teléfono y que éste las responda sin tener que teclear en la pantalla.
 
Ventajas y pros de las Google Glass

Como principal ventaja de las gafas de Google es, evidentemente, que no tienes que hacer nada, simplemente hablar. Son las gafas las que lo hacen todo por ti. Con simplemente ordenar las órdenes en voz alta o tan fácilmente como indicar las palabras ‘OK Glass‘ para iniciar el menú puedes hacer fotos o videos. Imágenes de muy buena calidad, de 5 megapíxeles y vídeos de alta resolución de 720 p.

Algunos inconvenientes de las Google Glass

Uno de los puntos de más controversia y de lo que más se han quejado aquellos que han probado las Google Glass es lo poco que dura la batería. Ésta dura apenas 5 horas, se carga por usb por la entrada alojada detrás de la oreja junto a la CPU.
En condiciones de mucha luz, la pantalla pierde mucho visibilidad haciendo mucho más complicado ver lo que se muestra en ella. La imposibilidad de regular el brillo, o configurar cualquier otro aspecto de las Google Glass (como desactivar el Bluetooth por ejemplo) es otro de los inconvenientes del dispositivo a pesar de estar diseñado como el Android para móvil.

					</p>
				</div>			
		</div>
	</div> 

	</div> <!-- row --> 
</div>	
