extends news
block containerNotice
	form(class="form-inline" role="form")
		div(class="form-group")
			h4 #{data}
		div(class="form-group pull-right")
			h5 #{data}
	div(class="panel-footer")
		p #{data}