<!doctype html>
<html lang="en">
	<div class="profilebody">
		<div class="profiledata">
			<div class="profileimg"></div>
			<div class="profilename">Daniel Murillo Porras</br>
				jdb123@gmail.com</br>
				Teléfono
			</div>
			
		</div>
		<div class="space"></div><div class="hystory">
			<div class="hystoryTitle">Historial</div>
			<div class="hystoryreview">
				<div class="space"></div>
				<div class="hystoryitem">
					<div class="hystoryitemtitle"><a href="">Analisis quimico</a></div>
					<div class="historyitemdate">20/04/2014</div>
					<div class="hystoryitemdescription">analisis quimico de suelo de finca #2 piñera los ecologicos</div>
				</div>

				<div class="space"></div>
				<div class="hystoryitem">
					<div class="hystoryitemtitle"><a href="">Analisis quimico</a></div>
					<div class="historyitemdate">20/04/2014</div>
					<div class="hystoryitemdescription">analisis quimico de suelo de finca #2 piñera los ecologicos</div>
				</div>

			</div>
		</div>
	</div>
	<div class="profileside"></div>
</html>
