<html>
	<link rel="stylesheet" href="/stylesheets/publicAnalysis.css">
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<script src="/javascripts/publicAnalysis.js"></script>

	<article id="pubAnArticle">
		
	</article>
	<div id='cssmenu'>
		<ul>
			<li class='active'><a ><span>Análisis</span></a></li>
			<li class='has-sub'>
				<a href='#'><span>Suelos</span></a>
				<ul>
					<li><a ><span>Análisis 2</span></a></li>
					<li><a ><span>Análisis 2</span></a></li>
					<li class='last'><a ><span>Análisis 3</span></a></li>
				</ul>
			</li>
			<li class='has-sub'><a href='#'><span>Foliares</span></a>
				<ul>
					<li><a ><span>Análisis 1</span></a></li>
					<li class='last'><a ><span>Análisis 2</span></a></li>
				</ul>
			</li>
			<li class='last'><a href='#'><span>Otros</span></a></li>
		</ul>
	</div>		
</html>


	