extends index

block contentBody
	script(src="/javascripts/userAnalysis.js")

	aside(id="pendingList")
		input(type="checkbox", text="muestra 1")
		input(type="checkbox", text="muestra 2")
		input(type="checkbox", text="muestra 3")
	article(id="dropFile")
		input(id="clickFile", multiple="multiple")
	article(id="fileList")
		section
			label() resultado 1
			button() X
		section
			label() resultado 2
			button() X
		section
			label() resultado 2
			button() X